*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    display: grid;
    height: 30rem;
    width: 25rem;
}

.bottom__border {
    height: 1px;
    width: 100%;
}

/* SEARCH START------------------------------------------------ */
.search {
    margin: 2rem 1rem 0rem 0rem;
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    background-color: lightgrey;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
}

.search__button {
    border: none;
    background-color: transparent;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}

/* SEARCH END ------------------------------------------------ */

/* BOTTOM MENU START ------------------------------------------------ */

.bottom {
    display: grid;
    align-items: end;
}

.bottom__icon {
    height: 2.75rem;
    width: 2.75rem;
    fill: darkgray;
    transition: all 0.2s;
}
.bottom__menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.bottom__home {
    display: flex;
    align-items: center;
}
.bottom__configure {
    display: flex;
    align-items: center;
}

.bottom__text {
    text-decoration: none;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    color: darkgray;
    transition: all 0.2s;
}

a {
    text-decoration: none;
}

.bottom__home:hover .lighten {
    color: black;
    fill: black;
}

.bottom__configure:hover .lighten {
    color: black;
    fill: black;
}


/* FOOTER START ------------------------------------------------ */

footer{
    height: 0px;
}

